@mixin vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}
