.artist_grid {
  @media screen and (min-width: $screen-md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: ($grid-gutter);
  }
}
.card {
  margin-bottom: $grid-gutter;
  border-radius: $border-radius;
  box-shadow: $gray-light 3px 3px;
  transition: all ease-in 150ms;
  @media screen and (min-width: $screen-md) {
    margin-bottom: 0;
    &:hover,
    &:focus {
      transform: scale(1.03);
      box-shadow: $gray-light 5px 5px;
    }
  }
}
.card__icon {
  float: right;
  color: $gray;
  text-decoration: none;
  @include font-size(16);
  border: solid 1px $gray;
  border-radius: 20px;
  padding: 8px;
  line-height: 1;
  &:hover {
    border-color: $red-dark;
    background-color: $red-dark;
    color: $white;
  }
}
.card__title {
  color: $black;
  margin-top: 0;
  a {
    color: $black;
    //text-decoration: none;
    &:hover {
      color: $red-dark;
    }
  }
}
.card__content {
  padding: 20px;
}
.card__meta {
  color: $gray-dark;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    @include font-size(12);
    text-transform: uppercase;
    padding-right: 5px;
  }
}
