.hero {
  position: relative;
  height: 50vh;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.3);
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}
.hero__title {
  @include vc;
  @include font-size(120);
  color: $white;
  text-align: center;
  z-index: 5;
  margin: 0;
}
