.section {
  &_light {
    background-color: $gray-light;
  }
  &_dark {
    background-color: $gray-dark;
    color: $white;
  }
}
.section__container {
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    width: $screen-sm - $grid-gutter;
  }
  @media (min-width: $screen-md) {
    width: $screen-md - $grid-gutter;
  }
  @media (min-width: $screen-lg) {
    width: $screen-lg - $grid-gutter;
  }
  @media (min-width: $screen-xl) {
    width: $screen-xl - $grid-gutter;
  }
}
.section__content {
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: $screen-md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
