.c-filters {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  @media (min-width: $screen-md) {
    width: 800px;
    margin: 0 auto;
  }
  select, .select2 {
    flex-basis: 32%;
    margin: 5px 15px;
  }
}