$black: #000;
$white: #ffffff;
$gray: #b3b3b3;
$gray-dark: #434343;
$gray-light: #e8e8e8;
$red-dark: #960000;

$screen-sm: 400px;
$screen-md: 768px;
$screen-lg: 1200px;
$screen-xl: 1400px;

$grid-gutter: 30px;
$border-radius: 3px;
